﻿<%@ Master Language="C#" AutoEventWireup="true" CodeBehind="AdminMaster.master.cs" Inherits="DistributorSystem.AdminMaster" %>

<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head id="Head1" runat="server">
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <title>CP Sales</title>
    <!-- Bootstrap Core CSS -->
    <link href="css/bootstrap.css" rel="stylesheet" />
    <link href="css/font-awesome.css" rel="stylesheet" type="text/css" media="screen" />
    <link href="css/jquery.dataTables.min.css" rel="stylesheet" />
    <link href="css/buttons.dataTables.min.css" rel="stylesheet" />
    <%--<link rel="stylesheet" href="css/jquery.dataTables.css"/>--%>
    <%--<link rel="stylesheet" type="text/css" href="css/dataTables.tableTools.css"/>--%>
    <link href="css/style.css" rel="stylesheet" />
    <!-- Bootstrap Core JavaScript -->
    <%--   <script src="js/jquery-1.11.0.js"></script>--%>

    <%--<script src="js/jquery-1.12.4.js"></script>--%>
    <%--<script src="js/bootstrap.min.js"></script>--%>
      <script type="text/javascript" src="https://code.jquery.com/jquery-1.11.3.min.js"></script> 
     <script type="text/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
    <%--<script type="text/javascript" src='https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.0.3/js/bootstrap.min.js'></script>--%>
    <script src="js/jquery.dataTables.min.js"></script>
    <script src="js/DatatblefixedColumns.js"></script>
    <%--<script src="js/jquery.dataTables.js"></script>--%>
    <%--<script type="text/javascript" src="js/dataTables.tableTools.js"></script>--%>

    

    <asp:ContentPlaceHolder ID="head" runat="server">
    </asp:ContentPlaceHolder>
</head>
<body>

    <form id="form1" runat="server">
        <header class="navbar navbar-static-top bs-docs-nav" id="top" role="banner" runat="server">
            <div class="navbar-wrapper">
                <div class="container-fluid">
                    <nav class="navbar navbar-fixed-top">
                        <div class="navbar-header">
                            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                                <span class="sr-only">Toggle navigation</span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                            </button>
                            <%-- <img style="width:200px;" src="images/distribution-logo.png"/>--%>
                            <img style="width: 180px;" src="images/cpsales.png" />
                        </div>
                        <asp:Label ID="lblExtError" runat="server" ForeColor="Red"></asp:Label>
                        <div id="navbar" class="navbar-collapse collapse">
                            <ul class="nav navbar-nav">
                                <li class=" dropdown" runat="server" id="listSite">
                                    <a href="#" class="dropdown-toggle " data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Users <span class="caret"></span></a>
                                    <ul class="dropdown-menu mn_drop">
                                        <li><a href="AllDistributors.aspx">Login as Different User</a></li>
                                        <li><a href="UserDetails.aspx">User Details</a></li>
                                    </ul>
                                </li>
                                <li class=" dropdown">
                                    <a href="#" class="dropdown-toggle " data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Summary <span class="caret"></span></a>
                                    <ul class="dropdown-menu mn_drop">
                                        <li><a href="ExceptionReport.aspx">CP Sales Summary</a></li>
                                    </ul>
                                </li>
                                <li class=" dropdown">
                                    <a href="#" class="dropdown-toggle " data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Upload <span class="caret"></span></a>
                                    <ul class="dropdown-menu mn_drop">
                                        <%--<li><a href="UploadDocument.aspx">Upload Document</a></li>--%>
                                        <li><a href="salesitemupload.aspx">Upload Document</a></li>
                                     <%--   <li><a href="salesitemupload.aspx">Upload Sales Item</a></li>--%>
                                    </ul>
                                </li>
                               
                            </ul>
                            
                            <ul class="nav navbar-nav pull-right">
                                <li class=" dropdown"><a href="#" class="dropdown-toggle active" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                                    <asp:Label runat="server" ID="lblUserName" class="username" Text="WelcomeGuest"></asp:Label>
                                    <span class="caret"></span></a>
                                    <ul class="dropdown-menu mn_right">
                                        <li><a href="ResetPassword.aspx">Reset Password</a></li>
                                        <li>
                                            <asp:LinkButton runat="server" ID="lnkLogout" OnClick="lnkLogout_Click">Logout</asp:LinkButton></li>
                                    </ul>
                                </li>
                            </ul>
                        </div>
                    </nav>
                </div>
            </div>
        </header>
        <div class="main">
            <div class="col-md-12">
                <asp:ContentPlaceHolder ID="MainContent" runat="server">
                </asp:ContentPlaceHolder>
            </div>
        </div>
    </form>
</body>
</html>


